div.recipe-list button,
div.recipe-list td {
  font-size: 12px;
  vertical-align: top;
}

div.recipe-list span.pagination-info {
  display: none !important;
}

div.recipe-list div.pagination-detail span.sort-prompt {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

div.recipe-list div.page-list {
  display: none !important;
}

div.recipe-list li.page-item a {
  z-index: 0;
}

div.recipe-list .fixed-table-body {
  padding: 1px;
}

div.recipe-list table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

div.recipe-list tr:hover {
  background-color: inherit;
}

div.recipe-list tr.recipe {
  outline: thin solid rgba(0, 0, 0, 0.125);
}

div.recipe-list th,
div.recipe-list td {
  border: none;
}

div.recipe-list td.sidebar {
  width: 200px;
}

div.recipe-list .title {
  float: left;
}

div.recipe-list .title a {
  font-size: 1rem;
}

div.recipe-list .title img {
  width: 24px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

div.recipe-list .star {
  float: right;

  font-size: 1rem;
}

div.recipe-list .recipe table {
  clear: both;
}

div.recipe-list .sidebar img.thumbnail {
  max-width: 192px;
  box-shadow: 2px 2px 2px 1px #ccc;
}

div.recipe-list .sidebar div.heading {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

div.recipe-list .sidebar span.field {
  width: 90px;
  text-align: right;
}

div.recipe-list .sidebar img.dietary-property {
  width: 24px;
  height: 24px;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

div.recipe-list .sidebar img.dietary-property.is-dairy-free { background-color: blue; }
div.recipe-list .sidebar img.dietary-property.is-gluten-free { background-color: orange; }
div.recipe-list .sidebar img.dietary-property.is-vegan { background-color: lightgreen; }
div.recipe-list .sidebar img.dietary-property.is-vegetarian { background-color: green; }

div.recipe-list .sidebar span {
  display: inline-block;
  margin-left: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

div.recipe-list .sidebar button {
  width: 192px;
  margin-top: 1px;
  margin-bottom: 4px;
}

div.recipe-list .content span.tag.badge {
  display: inline;
  white-space: normal;
}

div.recipe-list .content .ingredients {
  display: grid;
  grid-row-gap: 0.25em;
  grid-column-gap: 0.5em;
  grid-template-columns: fit-content(25%) auto;
}

div.recipe-list .content .ingredients .quantity {
  grid-column: 1;
  text-align: right;
}

div.recipe-list .content .ingredients .product {
  grid-column: 2;
}
