#search div.prompt {
  margin-top: 1rem;
  margin-left: 2rem;
}
#search div.prompt span.positive { color: green; }
#search div.prompt span.negative { color: maroon; }

#search .results a {
  font-size: 1rem;
}
#search .results button,
#search .results td {
  font-size: 12px;
  vertical-align: top;
}

#search .results span.pagination-info {
  display: none;
}

#search .results span.page-list {
  display: none;
}

#search .results li.page-item a {
  z-index: 0;
}

#search .results .fixed-table-body {
  padding: 1px;
}

#search .results table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

#search .results tr:hover {
  background-color: inherit;
}

#search .results tr.recipe {
  outline: thin solid rgba(0, 0, 0, 0.125);
}

#search .results th,
#search .results td {
  border: none;
}

#search .results td.sidebar {
  width: 200px;
}

#search .results .title img {
  width: 24px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

#search .results .sidebar img {
  max-width: 192px;
}

#search .results .sidebar span {
  display: inline-block;
  margin-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#search .results .sidebar button {
  width: 192px;
  margin-bottom: 4px;
}

#search .results .content span.tag.badge {
  display: inline;
  white-space: normal;
}

#search .results .content .tabs a {
  background-color: #f0f0f0;
  font-size: 0.75rem;
}

#search .results .content .tabs a.active {
  background-color: #fafafa;
  font-weight: bold;

  border-top: solid 1px silver;
  border-left: solid 1px silver;
  border-right: solid 1px silver;

  margin-bottom: -1px;
}

#search .results .content .tab {
  background-color: #fafafa;
  padding: 0.75rem;

  border: solid 1px silver;
}

#search .results .content .tab button {
  margin-top: 1rem;
}
