#search div.prompt {
  margin-top: 1rem;
  margin-left: 2rem;
}
#search div.prompt span.positive { color: green; }
#search div.prompt span.negative { color: maroon; }

#search .refinements {
  background-color: #ffffc0;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#search .refinements div {
  font-size: 13px;
  color: dimgray;

  margin: 0.5rem;
  margin-left: 2rem;
}
