#search .entry {
  margin-top: 1rem;
  margin-left: 2rem;
}

#search .include .fa { color: #70f070; }
#search .exclude .fa { color: #f07070; }
#search .equipment .fa { color: #7070f0; }

#advanced-toggle {
  margin-top: 32px;
  color: #707070;
}

#advanced-toggle a {
  font-size: 12px;
}

#advanced-search {
  margin-left: 1rem;
}

#advanced-search .prompt {
  margin-top: 1rem;
}

#search .refinements {
  background-color: #ffffc0;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#search .refinements div {
  font-size: 13px;
  color: dimgray;

  margin: 0.5rem;
  margin-left: 2rem;
}
