#explore div.card-body {
  padding-top: 0;
}

#explore .prompt {
  display: block;
  margin-top: 1rem;
}

#explore-choices {
  list-style-type: none;
  overflow: hidden;
}

#explore-choices li {
  text-align: center;
  user-select: none;
}
